[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
beautifulsoup4 = "*"
gunicorn = "*"
google-cloud-translate = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.12"
